:root {
    --col-0: #f3f3f3;
    --col-1: #e5e5e5;
    --col-2: #fca311;
    --col-3: #14213d;
    --col-4: #001524;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
    transition: all 0.2s ease;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--col-1);
    color: var(--col-4);
    min-width: 780px;
}

section h1,
section h2,
section h3,
section h4 {
    color: var(--col-2);
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    margin: 0.4vh 0 0.2vh;
}

section p {
    text-align: justify;
    line-height: 1.4rem;
}

section#popup {
    position: absolute;
    background-color: rgba(0, 0, 0.2, 0.4);
    height: 100vh;
    width: 100vw;
    text-align: center;
    opacity: 0%;
    visibility: hidden;
    display: grid;
    grid-template-rows: 17.5% 65% 17.5%;
    z-index: 1014;
}

section#popup div#fenetre {
    background-color: var(--col-1);
    margin: 0 20vw;
    padding: 3vh 5vw;
    display: grid;
    grid-template-rows: 87% 13%;
}

section#popup div#fenetre div#contenu {
    overflow-y: auto;
}

section#popup div#fenetre h2#apis {
    margin-top: 3vh;
}

section#popup div#fenetre h4#fermer {
    color: var(--col-3);
    margin-top: 2vh;
    align-self: center;
}

section#popup div#fenetre h4#fermer:hover {
    cursor: pointer;
    letter-spacing: 0.8vw;
}

section#popup div#fenetre div#contenu div#vue-inscription
{
    opacity: 0;
    visibility: hidden;
    height: 0;
}

section form {
    margin: 2vh 0;
    padding: 0 1vh;
    display: grid;
    grid-row-gap: 2vh;
}

section form label {
    text-transform: uppercase;
    letter-spacing: 0.3vw;
    font-size: 1.2rem;
}

section form input {
    text-align: center;
    color: var(--col-4);
    border-radius: 0.4rem;
    border: none;
    padding: 0.3vw 0.6vh;
}

section form input[type=text],
section form input[type=password] {
    background-color: var(--col-0);
    padding: 0.7vw 1vh;
    font-size: 1.1rem;
}

section form input[type=submit],
section form input[type=button],
section button {
    margin-top: 1.5vh;
    padding: 1vw 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15vw;
    cursor: pointer;
    background-color: var(--col-3);
    color: var(--col-2);
}

section form input[type=submit]:hover,
section form input[type=button]:hover,
section button:hover {
    background-color: var(--col-2);
    color: var(--col-3);
}

header {
    background-color: var(--col-4);
    color: var(--col-0);
    height: 8vh;
    margin-bottom: 2vh;
    padding: 2vh;
    display: flex;
    align-items: center;
    text-align: center;
}

header div#conteneur-titre {
    width: 90%;
}

header div#conteneur-titre h1#titre {
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 3vh;
    color: var(--col-1)
}

header div#conteneur-titre h1#titre span {
    color: var(--col-0)
}

header div#conteneur-titre h1#titre:hover {
    cursor: pointer;
    letter-spacing: 4vh;
    color: var(--col-0)
}

header div#conteneur-titre h1#titre:hover span {
    color: var(--col-2)
}

header div#conteneur-nav {
    width: 10%;
}

header div#conteneur-nav ul {
    list-style: none;
    line-height: 4vh;
}

header div#conteneur-nav ul li {
    text-transform: lowercase;
    font-style: italic;
    letter-spacing: 0.5vh;
    width: 100%;
    color: var(--col-2)
}

header div#conteneur-nav ul li:hover {
    cursor: pointer;
    font-size: 1.3rem;
}

section#page {
    height: 76vh;
    margin: 0 4vw
}

section#page div#map {
    height: 100%;
}

footer {
    background-color: var(--col-4);
    color: var(--col-0);
    height: 7vh;
    margin-top: 1vh;
    padding: 2vh;
}

footer div#credits ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    list-style: none;
}

footer div#credits ul li {
    font-size: 0.9rem;
    font-style: italic;
    letter-spacing: 0.5vh;
    width: 100%;
    color: var(--col-2)
}

footer div#credits ul li:hover {
    cursor: pointer;
    font-size: 1rem;
}

footer div#credits ul li#corse:hover {
    transform: scale(1.1)
}